<nav>

    <a href="/">Home</a>

    <% if (user) { %>
    <a href="/users/<%= user._id %>"></a>
    
<!-- <a href="/users/<%=//user._id%>/applications/new">Add an App</a> -->
     <!-- <h1>Welcome to the app, <%= //user.username %>!</h1> -->
    <a href="/recipes">My Recipes</a>
    <a href="/ingredients/add ">My Ingredients</a>
    <a href="/auth/sign-out">Sign Out</a>

    <% } else { %>

    <a href="/auth/sign-in">Sign In</a>
    <a href="/auth/sign-up">Sign Up</a>

    <% } %>
</nav>