<!DOCTYPE html>
<html>
<head>
    <title>Ingredients</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>

    <h1>Ingredients</h1>
    <form action="/ingredients/add" method="POST">
        <input type="text" name="name" placeholder="New ingredient" required>
        <button type="submit">Add Ingredient</button>
    </form>

    <h2>List of Ingredients</h2>
    <ul>
        <% ingredients.forEach(ingredient => { %>
            <li><%= ingredient.name %></li>
        <% }) %>
    </ul>
</body>
</html>
